* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
  display: block;
  margin: 0;
}

header{
  display:block;
  background-color: #06D6A0;
  overflow: hidden;
  height: 60px;
}

nav{
  float: right;
  margin-right: 25px;
}

.container {
    max-width: 900px;
    margin: auto;
}

.logo {
  float: left;
  line-height: 60px;
  font-size: 18px;
  margin: 0;
  color: white;
  padding-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  margin-right: 3px;
}

.nav-item {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 5px;
  line-height: 60px;
  font-size: 1.2em;
}

.hero{
  background-color: #26547C;
  color: white;
  overflow: hidden;
  padding-bottom: 3px;
}

.hero-image {
    float: left;
    width: 60%;
}

.hero-image img{
  width: 517px;
  height: 291px;
}

.hero-content{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.call-to-action{
  background-color: #FFD166;
  padding: 30px 20px;
}

p {
    display: block;
    font-size: 1.2em;
}

.products {
    background-color: #F2F2F2;
    padding: 30px 20px;

}

.product-wrapper{
  display: block;
  overflow: hidden;

}

.product-item > img {
    float: left;
    border: 3px solid black;
    width: 271px;
    height: 276px;
    margin-right: 14px;
    margin-bottom: 14px;
}

.about {
    background-color: #26547C;
    color: white;
    padding: 30px 20px;
}

.team-fun, .team-values, .team-meow {
    float: left;
    width: 33.33333%;
    text-transform: uppercase;
    text-align: center;
    color: #EF476F;
}

footer {
    background-color: #06D6A0;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding: 0 20px;
